h1{
    color: red;
}
p{
    color: ;
    font-size: ;
    font-weight:;
    text-align: ;
    line-height: 25px; /* 1.5 x 15px --> 22.5px */
    font-family: "Times New Roman";
    text-decoration: none;
    text-indent: 20px;
    width: 500px;
    background-color: ;
    border-bottom: 1px solid #0000FFFF; /*solid dashed dotted */

}